<div class="navbar" #navbar [class.active]="isMenuOpen">
    <div class="logo">MyLogo</div>
    <div class="menu-toggle" #mobileMenu [class.active]="isMenuOpen" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu" #navMenu [class.active]="isMenuOpen">
        <a href="#" (click)="closeMenu()">Home</a>
        <a href="#" (click)="closeMenu()">About</a>
        <a href="#" (click)="closeMenu()">Services</a>
        <a href="#" (click)="closeMenu()">Contact</a>
    </div>
    <div class="auth-buttons" #authButtons [class.active]="isMenuOpen">
        <button class="login" (click)="closeMenu()">Login</button>
        <button class="signup" (click)="closeMenu()">Sign Up</button>
    </div>
</div>